{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<section style="background: #232526">
		<div class="tab-content text-white d-flex align-items-center flex-column text-start justify-content-between border-bottom">
			<div class="container py-5 mt-3 w-auto">
				<div class="container">
					<h1 class="text-center text-white pb-0">
						<span class="text-warning">Devenir
						</span>membre du
						<span class="text-warning">Quai Antique</span>
					</h1>
				</div>
				<form method="post">
					{% for flash_error in app.flashes('verify_email_error') %}
						<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
					{% endfor %}
					<div class="h3 mb-5 fs-1 text-dark">
					{{ form_start(registrationForm) }}
					</div>
					<fieldset class="pb-0 p-5">
						<legend>Votre e-mail</legend>
						{{ form_row(registrationForm.email, {label: 'E-mail'}) }}
					</fieldset>
					<fieldset class="pb-0 p-5">
						<legend>Votre mot de passe</legend>
						{{ form_row(registrationForm.plainPassword, {label: 'Mot de passe'}) }}
					</fieldset>
					<div class="pb-0 p-5"
					{{ form_row(registrationForm.RGPDConsent, {label: 'Valider nos conditions'}) }}
					<div class="checkbox d-flex justify-content-center"><button class="btn btn-lg btn-info my-3" type="submit">M'inscrire</button></div
					{{ form_end(registrationForm) }}
				</form>
			</div>
		</div>
	</div>
</div>
	</section>{% endblock %}

